name: Build Linux (x86_64 & aarch64)

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - runner: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - runner: ubuntu-latest-arm64
            target: aarch64-unknown-linux-gnu

    runs-on:  ${{ matrix.runner }}

    steps:
      - uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Build
        run: cargo build --release --target ${{ matrix.target }}

      - name: Run tests
        run: cargo test --release --target ${{ matrix.target }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name:  no_dup_bot-${{ matrix.target }}
          path: target/${{ matrix.target }}/release/no_dup_bot
          retention-days: 30
